<!DOCTYPE html>
<html ng-app="myApp">
<!--
=== Eg. source: AngularJS by Oreilly ===
The ng-app attribute tells Angular which parts of the page it should manage.
We add the attribute to <HTML> element which is a usual case of development from scratch.
What if we want to integrate Angular with the existing app that uses other methods of client view management?
You'd then add this attribue to the required <div> container elements.
-->
	<head>
		<title>Your Shopping Cart</title>
		<script src="lib/angular/angular.min.js"></script>
	</head>

	<body ng-controller='CartController'>
		<h1>Your Order</h1>
		<div ng-repeat='item in items'>
			<span>{{item.title}}</span>
			<input ng-model='item.quantity'> <!-- This creates a data binding between input field-->
			<span>{{item.price | currency:"INR"}}</span>
			<span>{{item.price * item.quantity | currency:"INR"}}</span>
			<button ng-click="remove($index)">Remove</button>
		</div>
	</body>

	<script>
		//We call the Angular object to create a module named myApp and
		//will soon pass our controller’s function to a call to that module’s controller function.
		var myAppModule = angular.module('myApp', []);

		//Keeping things out of the global namespace is a good thing and
		//that modules are the mechanism we use to do so.
		myAppModule.controller( "CartController", function ($scope) {
			$scope.items = [
            	{title: 'Paint pots', quantity: 8, price: 3.95},
	            {title: 'Polka dots', quantity: 17, price: 12.95},
    	        {title: 'Pebbles', quantity: 5, price: 6.95}
			];

			$scope.remove = function(index) {
				$scope.items.splice(index, 1);
			};
		});
	</script>
</html>

