<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Your Shopping Cart</title>
		<script src="lib/angular/angular.min.js"></script>
	</head>

	<body ng-controller='CartController'>
		<h1>Your Order</h1>
		<div ng-repeat='item in items'>
			<span>{{item.title}}</span>
			<input ng-model='item.quantity'> <!-- This creates a data binding between input field-->
			<span>{{item.price | currency:"INR"}}</span>
			<span>{{item.price * item.quantity | currency:"INR"}}</span>
			<button ng-click="remove($index)">Remove</button>
		</div>
	</body>

	<script>
        //Create a module to support our shopping views
		var myAppModule = angular.module('myApp', []);

        //Set up the service factory to create our Items interface to the server-side database
		myAppModule.factory('Items', function() {
		    var items = {};

		    items.query = function() {
		        return [
            	    {title: 'Paint pots', quantity: 8, price: 3.95},
	                {title: 'Polka dots', quantity: 17, price: 12.95},
    	            {title: 'Pebbles', quantity: 5, price: 6.95}
		        ];
		    };

		    return items;
		});

		myAppModule.controller( "CartController", function ($scope, Items) {
			$scope.items = Items.query();

			$scope.remove = function(index) {
				$scope.items.splice(index, 1);
			};
		});
	</script>
</html>

