<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Startup Calculator</title>
		<script src="lib/angular/angular.min.js"></script>
	</head>

	<body>
		<form ng-submit="requestFunding()" ng-controller="StartUpController">
			Starting: <input ng-change="computeNeeded()" ng-model="startingEstimate">
			Recommendation: {{needed}}
			<input type="submit" value="Fund my startup!" />
			<input type="button" ng-click="reset()" value="Reset"/>
		</form>
	</body>

	<script>
        var myapp = angular.module("myApp", []);

        myapp.controller("StartUpController", function ($scope) {
			$scope.computeNeeded = function() {
		        $scope.needed = $scope.startingEstimate * 10;
			};

			$scope.requestFunding = function() {
				alert("Sorry, please get more customers first.");
			};

			$scope.reset = function() {
				$scope.startingEstimate = 0;
	      	};
		});
	</script>
</html>
