<!doctype html>
<html ng-app>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
</head>
<body>
<div ng-controller="RandomCtrl">
    <label>Name:</label>
    <input type="text" ng-model="yourName" placeholder="Enter a name here">
    <br/>
    <label>Message:</label>
    <input type="text" ng-model="yourMessage" placeholder="Enter your message here">
    <br/>
    <h1>{{yourMessage}} {{yourName}}, your lucky number is {{luckyNumber}}.</h1>
</div>

<hr/>
<div ng-controller="TimeNowCtrl">
    <span>The time now is {{now}}.</span>
    <br/>
    <span>Some random number is *__{{luckyNumber}}__*.</span>
</div>

</body>

<script language="JavaScript">
    function RandomCtrl($scope) {
        $scope.luckyNumber = getRandomInt(1,10);
    }

    function getRandomInt (min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function TimeNowCtrl($scope) {
        $scope.now = timeNow();
    }

    function timeNow() {
        return new Date().toString();
    }
</script>
</html>
