<!DOCTYPE html>
<html ng-app>
<head>
    <title>Playing with some ng-directives</title>
    <script src="lib/angular/angular.min.js"></script>
</head>
<body>
<div ng-controller="LoginCtrl">
    <label>Username: </label>
    <input type="text" ng-model="username" ng-change="validateUsername();resetRequired()"/>
    <div ng-show="showUsernameInfo"> Username can only contain alphabets and numbers. Nothing else is allowed!</div>

    <label>Password: </label>
    <input type="password" ng-model="password" ng-change="resetRequired()"/>

    <br/>
    <div>
        <label>New User?</label>
        <input type="checkbox" ng-model="isNewUser"/>
    </div>
    <br/>
    <div ng-show="isNewUser">
        <label>Accept Terms and Conditions</label>
        <input type="radio" value="yes" name="tnc" ng-model="tnc"/><label>Yes</label>
        <input type="radio" value="no" name="tnc" ng-model="tnc" /><label>No</label>
    </div>

    <div>
        <input type="submit" value="Login" ng-disabled="isNewUser" >
        <input type="submit" value="Register" ng-show="isNewUser" ng-disabled="!hasAcceptedTnC(tnc)">
        <input type="button" value="Reset" ng-hide="hideResetButton" ng-click="clearFields()" >
    </div>
</div>
</body>

<script language="JavaScript">
var LoginCtrl = function ($scope) {
        $scope.username = $scope.username || "";
        $scope.password = $scope.password || "";
        $scope.hideResetButton = true;
        $scope.isNewUser = false;
        $scope.tnc = $scope.tnc || "no";

        $scope.validateUsername = function() {
            $scope.showUsernameInfo = (/([^0-9^a-z^A-Z])/).test($scope.username);
        };

        $scope.resetRequired = function() {
            if ( !angular.isUndefined($scope.username) && !angular.isUndefined($scope.password) ) {
                $scope.hideResetButton = ($scope.username.length==0 && $scope.password.length==0) ? true : false;
            }
        };

        $scope.clearFields = function() {
            $scope.username = "";
            $scope.password = "";
            $scope.hideResetButton = true;
        };

        $scope.hasAcceptedTnC = function(value) {
            return "yes"==value;
        };
    }
</script>
</html>