<!DOCTYPE html>
<html ng-app="spicyApp2">
<head>
    <script src="lib/angular/angular.min.js"></script>
</head>
<body>
      <div ng-controller="SpicyCtrl">
          <input ng-model="customSpice">
          <button ng-click="spicy('chilli')"> Chilli </button>
          <button ng-click="spicy(customSpice)"> Custom Spice </button>
          <p>The food is {{output}}.</p>
      </div>
</body>

<script>
    var myApp = angular.module('spicyApp2', []);

    myApp.controller('SpicyCtrl', ['$scope', function($scope){
        $scope.customSpice = "bland";
        $scope.output = "bland";

        $scope.spicy = function(value) {
            $scope.output = value;
        };
    }]);
</script>
</html>