<!DOCTYPE html>
<html ng-app="FilterApp">
<head>
    <script src="lib/angular/angular.min.js"></script>
    <title> Demo the  use of Angular Filters </title>
</head>
<body>
	<div ng-controller="FilterCtrl as ctrl"> <!-- Note the controller aliasing -->
		<div>
	        Test entries:
	        <span ng-repeat="entry in ctrl.arr">{{entry}} </span>
		</div>
		<div>
	        All entries:
	        <span ng-repeat="entry in ctrl.array">{{entry.name}} </span>
		</div>
		<div>
        	Entries that contain an "a":
	        <span ng-repeat="entry in ctrl.filteredArray">{{entry.name}} </span>
      	</div>
	</div>
	<hr>
	<div ng-controller="AnotherFilterCtrl">
		<div>
	        Test entries:
	        <span ng-repeat="entry in arr">{{entry}} </span>
		</div>
		<div>
	        All entries:
	        <span ng-repeat="entry in array">{{entry.name}} </span>
		</div>
		<div>
        	Entries that contain an "j":
	        <span ng-repeat="entry in array | filter:ftr('j')">{{entry.name | upCase | strLength}} </span>
      	</div>
	</div>
</body>

<script>
	    var myApp = angular.module('FilterApp',[]);

		//Calling filter in a view template within markup like {{}}
		//Note using a filter in a view template will reevaluate the filter on every digest,
		//which can be costly if the array is big
		myApp.filter('upCase', function() {
			return function(input) {
				return input.toUpperCase();
			};
		});

		myApp.filter('strLength', function() {
			return function(input) {
				return input + "(" + input.length + ")";
			};
		});

		//Calling filter directly in the controller
		//By this, the controller is able to call the filter only when needed
		//(e.g. when the data is loaded from the backend or the filter expression is changed).
		myApp.controller('FilterCtrl', ['filterFilter', function(filterFilter) {
			//Note the filter being passed as arg to Controller constructor
			//This is Angular's Dependency Injection. In this case data binding to $scope
			//A controller's constructor can take anything that is required
			this.arr = ["name1", "name2", "name3","nameN"];

			this.array = [
				{name: "Karthik"},
				{name: "Jothi"},
				{name: "Jeff"},
				{name: "Ganesh"},
				{name: "Puppy"}
			];

			this.filteredArray = filterFilter(this.array, 'a');
		}]);

		//Calling filter in the controller
		myApp.controller('AnotherFilterCtrl', ['$scope', function($scope) {
			$scope.ftr = function(char) {
				return char;
			};

			$scope.arr = ["name1", "name2", "name3","nameN"];

			$scope.array = [
				{name: "Karthik"},
				{name: "Jothi"},
				{name: "Jeff"},
				{name: "Ganesh"},
				{name: "Juniority"}
			];
			}]);
</script>
</html>




