<!DOCTYPE>
<html ng-app="MyApp">
<head>
    <script src="lib/angular/angular.js"></script>
</head>

<body ng-controller="AddUserCtrl">
<h1>Sign Up</h1>
<form name='addUserForm' novalidate>
    <!--<div ng-form="addUserForm">-->
        <div ng-show='hasMessage'> {{message}} </div>
        <div>First name: <input ng-model='user.first' required></div>
        <div>Last name: <input ng-model='user.last' required></div>
        <div>Email: <input type='email' ng-model='user.email' required></div>
        <div>Age: <input type='number' ng-model='user.age' ng-maxlength='3' ng-minlength='1'></div>
        <div><button ng-disabled='addUserForm.$invalid' ng-click='addUser()'>Submit</button></div>
    <!--</div>-->
</form>
</body>

<script>
    var myapp = angular.module('MyApp', []);
    myapp.controller('AddUserCtrl', function ($scope) {
        $scope.hasMessage = false;
        $scope.message = '';

        $scope.addUser = function () {
            //if($scope.addUserForm.$invalid) { alert('Invalid fields in form..'); return;} //Using ng-disabled instead
            // TODO: Persist the user in the backend store in server
            $scope.message = 'Thanks, ' + $scope.user.first + ', we added you!';
            $scope.hasMessage = true;
        };
     });
</script>
</html>
